* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: black;
 
 
  
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle,.pageTitle1 {
  text-transform: uppercase;
  display: flex;
  justify-content: left;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: #04AA6D;
}

@media (max-width: 1000px) {
  .pageTitle,.pageTitle1 {
    font-size: 6.4vw;
  }
}
